In [114]:
#Import required libraries
import pandas as pd 
import numpy as np

In [115]:
data=pd.read_csv("/Users/sathwikshroff/NetflixRecSystem/movie_metadata.csv")
data.shape

(5043, 28)

In [116]:
data.head()
#data.columns

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [117]:
#Include the Significant/Important features from dataset
data=data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','movie_title','genres']]
data.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Avatar,Action|Adventure|Fantasy|Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Pirates of the Caribbean: At World's End,Action|Adventure|Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Spectre,Action|Adventure|Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,The Dark Knight Rises,Action|Thriller
4,Doug Walker,Doug Walker,Rob Walker,NaN,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [118]:
#Handle missing values by replacing NULL value(nan) with string 'unknown'
data['director_name']=data['director_name'].replace(np.nan,'unknown')
data['actor_1_name']=data['actor_1_name'].replace(np.nan,'unknown')
data['actor_2_name']=data['actor_2_name'].replace(np.nan,'unknown')
data['actor_3_name']=data['actor_3_name'].replace(np.nan,'unknown')

In [119]:
#Check NULL values in the columns!
data.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
movie_title      0
genres           0
dtype: int64

In [120]:
#Manipulate genres column "Action|Adventure|Sci-Fi" transform into "Action Adventure Sci-Fi
data['genres']=data['genres'].str.replace('|',' ',regex=True)

In [121]:
data.head(5)

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Pirates of the Caribbean: At World's End,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,The Dark Knight Rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,Star Wars: Episode VII - The Force AwakensÂ ...,Documentary

In [122]:
#Convert all strings in the 'movie_title' column to lowercase
data['movie_title']=data['movie_title'].str.lower()
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary

In [123]:
#Remove the last character from each 'movie_title' string
#The lambda function lambda x: x[:-1] takes each string x and slices it to exclude the last character (x[:-1]).
data['movie_title']=data['movie_title'].apply(lambda x: x[:-1])
data.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary

In [124]:
#Read sample data
data['movie_title']

0                                                  avatar
1                pirates of the caribbean: at world's end
2                                                 spectre
3                                   the dark knight rises
4       star wars: episode vii - the force awakensÂ    ...
                              ...
5038                              signed sealed delivered
5039                            the followingÂ
5040                                 a plague so pleasant
5041                                     shanghai calling
5042                                    my date with drew
Name: movie_title, Length: 5043, dtype: object

In [125]:
#Save the DataFrame to a CSV file & read the newly-created file + metedata file
data.to_csv('data1.csv',index=False)
credits=pd.read_csv("/Users/sathwikshroff/NetflixRecSystem/data1.csv")
meta=pd.read_csv("/Users/sathwikshroff/NetflixRecSystem/movie_metadata.csv")

In [126]:
credits.head()

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary

In [127]:
meta

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
5039,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
5040,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
5041,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
5042,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [109]:
#Convert 'release_date' column to datetime format 
meta['title_year']=pd.to_datetime(meta['title_year'],errors='coerce')
meta['year']=meta['title_year'].dt.year
meta.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes,year
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,English,USA,PG-13,237000000.0,1970-01-01 00:00:00.000002009,936.0,7.9,1.78,33000,1970.0
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,English,USA,PG-13,300000000.0,1970-01-01 00:00:00.000002007,5000.0,7.1,2.35,0,1970.0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,English,UK,PG-13,245000000.0,1970-01-01 00:00:00.000002015,393.0,6.8,2.35,85000,1970.0
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,English,USA,PG-13,250000000.0,1970-01-01 00:00:00.000002012,23000.0,8.5,2.35,164000,1970.0
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaT,12.0,7.1,NaN,0,NaN

In [411]:
#Merge the two tables on 'id'
data2=pd.merge(newmeta,credits,on='id')
data2

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [ ]:
#Using the ast.literal_eval() method from ast module to convert string repst of lists or dicts into corrsp Python objects 
import ast
data2['genres'] = data2['genres'].map(lambda x: ast.literal_eval(x))
data2['crew'] = data2['crew'].apply(lambda x: ast.literal_eval(x))
data2['cast'] = data2['cast'].apply(lambda x: ast.literal_eval(x))

In [413]:
#Process list of dicts and create formatted string repstn of genres
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction': #Renaming the "Science Fiction" to "Sci-Fi" to make it the name shorter
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [415]:
data2['genres']=data2['genres'].map(lambda x: make_genresList(x))
data2

,genres,id,title,year,cast,crew
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,Romance Comedy,468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,Crime Comedy Action Family,461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,Family Animation Romance Comedy,455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,Crime Drama Thriller,404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,NaN,461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [416]:
def make_castList(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] :
        return np.NaN
    else:
        return (casts[0])

In [418]:
data2['actor_1_name']=data2['cast'].map(lambda x: make_castList(x))
data2

,genres,id,title,year,cast,crew,actor_1_name
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Johnny Depp
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Ben Affleck
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Chris Hemsworth
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Chris Pratt
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Pierce Brosnan
...,...,...,...,...,...,...,...
526,Romance Comedy,468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Inka HaapamÃ¤ki
527,Crime Comedy Action Family,461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Lou Diamond Phillips
528,Family Animation Romance Comedy,455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",NaN
529,Crime Drama Thriller,404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Sridevi Kapoor
530,NaN,461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN

In [419]:
def make_castList1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [420]:
data2['actor_2_name']=data2['cast'].map(lambda x: make_castList1(x))

In [421]:
def make_castList2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts ==[] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [422]:
data2['actor_3_name']=data2['cast'].map(lambda x: make_castList2(x))

In [423]:
def director(x):
    dt = []
    st=' '
    for i in x:
        if i.get('job') == 'Director': 
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [424]:
data2['director_name']=data2['crew'].map(lambda x: director(x))

In [425]:
data2

,genres,id,title,year,cast,crew,actor_1_name,actor_2_name,actor_3_name,director_name
0,Adventure Action Fantasy Comedy,166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de...",Johnny Depp,Javier Bardem,Geoffrey Rush,Joachim RÃ¸nning Espen Sandberg
1,Action Adventure Fantasy Sci-Fi,141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de...",Ben Affleck,Henry Cavill,Gal Gadot,Zack Snyder
2,Action Adventure Fantasy Sci-Fi,284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de...",Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Taika Waititi
3,Action Adventure Comedy Sci-Fi,283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de...",Chris Pratt,Zoe Saldana,Dave Bautista,James Gunn
4,Fantasy Action Adventure,245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de...",Pierce Brosnan,William Hurt,Benjamin Walker,Sean McNamara
...,...,...,...,...,...,...,...,...,...,...
526,Romance Comedy,468707,Thick Lashes of Lauri MÃ¤ntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de...",Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,Hannaleena Hauru
527,Crime Comedy Action Family,461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de...",Lou Diamond Phillips,Wallace Shawn,Gina Holden,Jonathan A. Rosenbaum
528,Family Animation Romance Comedy,455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de...",NaN,NaN,NaN,Beth David Esteban Bravo
529,Crime Drama Thriller,404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Ravi Udyawar
530,NaN,461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",NaN,NaN,NaN,Daisy Asquith

In [426]:
movie=data2.loc[:,['genres','actor_1_name','actor_2_name','actor_3_name','director_name','title']]

In [427]:
movie=movie.dropna(how='any')

In [428]:
movie.shape

(458, 6)

In [429]:
movie=movie.rename(columns={'title':'movie_title'})

In [430]:
movie['movie_title']=movie['movie_title'].str.lower()

In [431]:
movie['comb']=movie['actor_1_name']+' '+movie['actor_2_name']+' '+movie['actor_3_name']+' '+movie['director_name']+' '+movie['movie_title']

In [432]:
old=data

In [433]:
old

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary
...,...,...,...,...,...,...
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,signed sealed delivered,Comedy Drama
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,the following,Crime Drama Mystery Thriller
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,a plague so pleasant,Drama Horror Thriller
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,shanghai calling,Comedy Drama Romance
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,my date with drew,Documentary

In [436]:
old['comb']=old['actor_1_name']+' '+old['actor_2_name']+' '+old['actor_3_name']+' '+old['director_name']+' '+old['movie_title']
new=old.append(movie)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary,Doug Walker Rob Walker unknown Doug Walker sta...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,thick lashes of lauri mÃ¤ntyvaara,Romance Comedy,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [438]:
new.drop_duplicates(subset='movie_title',keep='last',inplace=True)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary,Doug Walker Rob Walker unknown Doug Walker sta...
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,the incredible jessica james,Romance Comedy,Jessica Williams Chris O'Dowd Keith Stanfield ...
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,can't buy my love,Romance,Adelaide Kane Benjamin Hollingsworth Jean Loui...
526,Hannaleena Hauru,Inka HaapamÃ¤ki,Rosa Honkonen,Tiitus Rantala,thick lashes of lauri mÃ¤ntyvaara,Romance Comedy,Inka HaapamÃ¤ki Rosa Honkonen Tiitus Rantala Ha...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,cop and a half: new recruit,Crime Comedy Action Family,Lou Diamond Phillips Wallace Shawn Gina Holden...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,mom,Crime Drama Thriller,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi U...

In [439]:
new.to_csv('new_data.csv',index=False)
link="https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [441]:
df1=pd.read_html(link,header=0)[2]
df2=pd.read_html(link,header=0)[3]
df3=pd.read_html(link,header=0)[4]
df4=pd.read_html(link,header=0)[5]

In [443]:
df=df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)
df

,Opening,Opening.1,Title,Production company,Cast and crew,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Ref.,Ref.
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / S...,Adam Robitel (director); Leigh Whannell (scree...,[2],NaN
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcl...,[3],NaN
2,JANUARY,5,Stratton,Momentum Pictures / GFM Films,"Simon West (director); Duncan Falconer, Warren...",[4],NaN
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, St...",[5],NaN
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,Jaume Collet-Serra (director); Byron Willinger...,[6],NaN
...,...,...,...,...,...,...,...
269,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,Etan Cohen (director/screenplay); Will Ferrell...,NaN,[164]
270,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,Adam McKay (director/screenplay); Christian Ba...,NaN,[137]
271,DECEMBER,25,On the Basis of Sex,Focus Features,Mimi Leder (director); Daniel Stiepleman (scre...,NaN,[229]
272,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfre...",NaN,[262]
273,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,David Slade (director); Charlie Brooker (scree...,NaN,[263]

In [444]:
pip install tmdbv3api

Requirement already satisfied: tmdbv3api in c:\users\shashank m r\anaconda3\lib\site-packages (1.7.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: requests in c:\users\shashank m r\anaconda3\lib\site-packages (from tmdbv3api) (2.26.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shashank m r\anaconda3\lib\site-packages (from requests->tmdbv3api) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\shashank m r\anaconda3\lib\site-packages (from requests->tmdbv3api) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\shashank m r\anaconda3\lib\site-packages (from requests->tmdbv3api) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\shashank m r\anaconda3\lib\site-packages (from requests->tmdbv3api) (2.0.4)

In [445]:
from tmdbv3api import TMDb
import json
import requests
tmdb=TMDb()
tmdb.api_key='1f9b4feaeef3424f2eccc8559d1a0fad'

In [446]:
from tmdbv3api import Movie
tmdb_movie=Movie()
def get_genres(x):
    genres=[]
    result=tmdb_movie.search(x)
    movie_id=result[0].id
    response=requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    datajson=response.json()
    if datajson['genres']:
        genre_str=' '
        for i in range(0,len(datajson['genres'])):
            genres.append(datajson['genres'][i]['name'])
            return genre_str.join(genres)
    else:
        np.NaN

In [447]:
df['genres']=df['Title'].map(lambda x:get_genres(str(x)))

In [448]:
df_2018=df[['Title','Cast and crew','genres']]

In [449]:
def get_director(x):
    if " (director)" in x: #we are getting "director"
        return x.split(" (director)")[0]
    elif " (directors)" in x: #we are getting "directors" with "s"
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0] #we are getting "directors/screenplay"

In [ ]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

In [451]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [ ]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

In [453]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [ ]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

In [455]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [456]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

C:\Users\SHASHA~1\AppData\Local\Temp/ipykernel_15636/2517195254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [457]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [459]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [461]:
new_df18['movie_title'] = new_df18['movie_title'].str.lower()
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']
new_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Alt...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon...
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton...
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...,...,...,...,...,...,...,...
269,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery,holmes & watson,Will Ferrell John C. Reilly Rebecca Hall Etan ...
270,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Thriller,vice,Christian Bale Amy Adams Steve Carell Adam McK...
271,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama,on the basis of sex,Felicity Jones Armie Hammer Justin Theroux Mim...
272,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Thriller,destroyer,Nicole Kidman Sebastian Stan Toby Kebbell Kary...
273,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction,black mirror: bandersnatch,Fionn Whitehead Will Poulter Asim Chaudhry Dav...

In [463]:
new=new.append(new_df18)
new

,director_name,actor_1_name,actor_2_name,actor_3_name,movie_title,genres,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,avatar,Action Adventure Fantasy Sci-Fi,CCH Pounder Joel David Moore Wes Studi James C...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,pirates of the caribbean: at world's end,Action Adventure Fantasy,Johnny Depp Orlando Bloom Jack Davenport Gore ...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,spectre,Action Adventure Thriller,Christoph Waltz Rory Kinnear Stephanie Sigman ...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,the dark knight rises,Action Thriller,Tom Hardy Christian Bale Joseph Gordon-Levitt ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,star wars: episode vii - the force awakensÂ ...,Documentary,Doug Walker Rob Walker unknown Doug Walker sta...
...,...,...,...,...,...,...,...
269,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,holmes & watson,Mystery,Will Ferrell John C. Reilly Rebecca Hall Etan ...
270,Adam McKay,Christian Bale,Amy Adams,Steve Carell,vice,Thriller,Christian Bale Amy Adams Steve Carell Adam McK...
271,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,on the basis of sex,Drama,Felicity Jones Armie Hammer Justin Theroux Mim...
272,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,destroyer,Thriller,Nicole Kidman Sebastian Stan Toby Kebbell Kary...
273,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,black mirror: bandersnatch,Science Fiction,Fionn Whitehead Will Poulter Asim Chaudhry Dav...

In [464]:
new.drop_duplicates(subset='movie_title',keep='last',inplace=True)

In [465]:
new.to_csv('final_data.csv',index=False)

In [128]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score,accuracy_score
import pickle

In [129]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sathwikshroff/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [469]:
dataset = pd.read_csv("/Users/sathwikshroff/NetflixRecSystem/reviews.txt",sep = '\t', names =['Reviews','Comments'])
dataset

      Reviews                                           Comments
0           1            The Da Vinci Code book is just awesome.
1           1  this was the first clive cussler i've ever rea...
2           1                   i liked the Da Vinci Code a lot.
3           1                   i liked the Da Vinci Code a lot.
4           1  I liked the Da Vinci Code but it ultimatly did...
...       ...                                                ...
6913        0                     Brokeback Mountain was boring.
6914        0       So Brokeback Mountain was really depressing.
6915        0  As I sit here, watching the MTV Movie Awards, ...
6916        0    Ok brokeback mountain is such a horrible movie.
6917        0   Oh, and Brokeback Mountain was a terrible movie.

[6918 rows x 2 columns]

In [472]:
stopset=set(stopwords.words('english'))
vectorizer=TfidfVectorizer(use_idf=True,lowercase=True,strip_accents='ascii',stop_words=stopset)
x=vectorizer.fit_transform(dataset.Comments)
y=dataset.Reviews
pickle.dump(vectorizer,open('transform.pkl','wb'))

In [473]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2,random_state=50)

In [475]:
clf=naive_bayes.MultinomialNB()
clf.fit(xtrain,ytrain)

MultinomialNB()

In [476]:
accuracy_score(ytest,clf.predict(xtest))

0.9747109826589595

In [477]:
pickle.dump(clf,open('model.pkl','wb'))